Package testfunction
Style AllStatic
JavaClass TestFunction
JavaOutputDir   gensrc/java
NativeOutputDir gensrc/native

# Tell GlueGen that default_screen_depth() returns a pointer to a
# single ScreenInfo
ReturnValueCapacity default_screen_depth sizeof(ScreenInfo)
