Package testfunction
Style AllStatic
JavaClass TestFunction
JavaOutputDir   gensrc/java
NativeOutputDir gensrc/native

# The semantics of set_global_data imply that
# only direct Buffers are legal
NioDirectOnly set_global_data
