Package testfunction
Style AllStatic
JavaClass TestFunction
JavaOutputDir   gensrc/java
NativeOutputDir gensrc/native

# strlen takes a string as argument
ArgumentIsString strlen 0

# strstr takes strings as arguments
ArgumentIsString strstr 0 1
# it also returns a string
ReturnsString strstr

CustomCCode /* Include string.h header */
CustomCCode #include <string.h>
