Package testfunction
Style AllStatic
JavaClass TestFunction
JavaOutputDir   gensrc/java
NativeOutputDir gensrc/native

TemporaryCVariableDeclaration glXChooseFBConfig     int count;
TemporaryCVariableAssignment  glXChooseFBConfig     count = _ptr3[0];
ReturnValueLength             glXChooseFBConfig     count

# We don't need the Display data structure to be explicitly exposed
Opaque long Display *
# Ignore the empty Display data structure (though made opaque, the
# reference from glxChooseFBConfig is still traversed)
Ignore Display
