Style AllStatic
JavaClass UnixDynamicLinkerImpl
Package com.sun.gluegen.runtime
Implements UnixDynamicLinkerImpl DynamicLinker
JavaOutputDir ../src/java
NativeOutputDir ../src/native/unix
HierarchicalNativeOutput false

IncludeAs CustomJavaCode UnixDynamicLinkerImpl dynlink-unix-CustomJavaCode.java
CustomCCode #include <dlfcn.h>
CustomCCode #include <inttypes.h>

ArgumentIsString dlopen 0
ArgumentIsString dlsym  1
ReturnsString    dlerror
Opaque long void*

# Hide the platform-specific functions
AccessControl dlopen  PRIVATE
AccessControl dlsym   PRIVATE
AccessControl dlclose PRIVATE
AccessControl dlerror PRIVATE
