Style AllStatic
JavaClass MacOSXDynamicLinkerImpl
Package com.sun.gluegen.runtime
Implements MacOSXDynamicLinkerImpl DynamicLinker
JavaOutputDir ../src/java
NativeOutputDir ../src/native/macosx
HierarchicalNativeOutput false

# Note that we can use the same CustomJavaCode as the unix
# implementation, but some of the constants (e.g. RTLD_GLOBAL) resolve
# to different values
IncludeAs CustomJavaCode MacOSXDynamicLinkerImpl dynlink-unix-CustomJavaCode.java
CustomCCode #include <dlfcn.h>
CustomCCode #include </usr/include/machine/types.h>

ArgumentIsString dlopen 0
ArgumentIsString dlsym  1
ReturnsString    dlerror
Opaque long void*

# Hide the platform-specific functions
AccessControl dlopen  PRIVATE
AccessControl dlsym   PRIVATE
AccessControl dlclose PRIVATE
AccessControl dlerror PRIVATE
