Style AllStatic
JavaClass WindowsDynamicLinkerImpl
Package com.sun.gluegen.runtime
Implements WindowsDynamicLinkerImpl DynamicLinker
JavaOutputDir ../src/java
NativeOutputDir ../src/native/windows
HierarchicalNativeOutput false

IncludeAs CustomJavaCode WindowsDynamicLinkerImpl dynlink-windows-CustomJavaCode.java
CustomCCode #include <windows.h>
CustomCCode /* This typedef is only needed for VC6 */
CustomCCode #if _MSC_VER <= 1200
CustomCCode typedef int intptr_t;
CustomCCode #endif

ArgumentIsString LoadLibraryA 0
ArgumentIsString GetProcAddress 1
Opaque long HANDLE
Opaque long PROC

# Hide the platform-specific functions
AccessControl GetLastError   PRIVATE
AccessControl LoadLibraryA   PRIVATE
AccessControl GetProcAddress PRIVATE
AccessControl FreeLibrary    PRIVATE
